<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.dassarwa.aturuang"
    versionCode = "10"
    version     = "0.2.0" >

<!-- versionCode is optional and Android only -->

  <name>Atur Uang</name>

  <description>
      Atur Uang Peoject
  </description>

  <author href="https://build.phonegap.com" email="ahmad.fire@gmail.com">
      Hardeep Shoker
  </author>
  
  <platform name="android" />

</widget>