<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.dassarwa.aturuang"
    versionCode = "10"
    version     = "0.6.8" >

<!-- versionCode is optional and Android only -->

  <name>Atur Uang</name>

  <description>
      Atur Uang Project
  </description>

  <author href="https://build.phonegap.com" email="ahmad.fire@gmail.com">
      Dassarwa Team
  </author>
  
  <platform name="android" />
  
  <icon src="icon-128.png" />
  
  <!-- Testing: Fullscreen, Orientation -->
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />

</widget>